<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Register</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <th>Name</th>
                <th><input type="text" name="name" id="name" required></th>
            </tr>

            <tr>
                <th>Vorname</th>
                <th><input type="text" name="vorname" id="vorname" required></th>
            </tr>

            <tr>
                <th>Username</th>
                <th><input typ="text" name="username" id="username" required></th>
            </tr>
            <tr>
                <th>Password</th>
                <th><input type="password" name="password" id="password" required></th>
            </tr>
            <tr>
                <th>Beruf</th>
                <th><input type="text" name="beruf" id="beruf" required></th>
            </tr>
        </table>
        <button type="submit" id="register">Register</button>
    </form>
</body>
</html>

