
<!DOCTYPE html>
<html>
<nav>
  <h1><a href="{{ url_for('application.index') }}">Homepage</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user[1] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<head>
 {% block head %}
 <title>{% block title %}{% endblock %}</title>
 {% endblock %}
</head>
<body>
 {% block body %}{% endblock %}
</body>
</html>